<?xml version="1.0" encoding="utf-8"?>
<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	IgnorableNamespaces="uap rescap">

	<Identity
		Name="eaf6ed38-7dd3-414c-9c41-866b92da597a"
		Publisher="CN=YourOrdinaryCat"
		Version="1.0.0.0" />

	<Properties>
		<DisplayName>Charmy</DisplayName>
		<PublisherDisplayName>YourOrdinaryCat</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate" />
	</Resources>

	<Applications>
		<Application
			Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="HotCorner.Uwp.App">
			<uap:VisualElements
				DisplayName="Charmy"
				Description="Hot Corners for Windows"
				Square150x150Logo="Images\Square150x150Logo.png"
				Square44x44Logo="Images\Square44x44Logo.png"
				BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Images\SplashScreen.png" uap5:Optional="true" />
			</uap:VisualElements>
		</Application>

		<Application
			Id="HotCorner.Server"
			Executable="HotCorner.Server\HotCorner.Server.exe"
			EntryPoint="Windows.FullTrustApplication">
			<uap:VisualElements
				DisplayName="Charmy's FullTrust Server"
				Description="The FullTrust component used by Charmy"
				BackgroundColor="transparent"
				Square150x150Logo="Images\Square150x150Logo.png"
				Square44x44Logo="Images\Square44x44Logo.png"
				AppListEntry="none" />

			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer
							Executable="HotCorner.Server\HotCorner.Server.exe"
							DisplayName="Charmy's FullTrust Server"
							LaunchAndActivationPermission="O:SYG:SYD:(A;;11;;;WD)(A;;11;;;RC)(A;;11;;;AC)(A;;11;;;AN)S:P(ML;;NX;;;S-1-16-0)">
							<com:Class Id="898F12B7-4BB0-4279-B3B1-126440D7CB7A" DisplayName="LifetimeManager" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
