:root {
  color-scheme: light dark;

  --safe-area-inset-top: 0px;
  --safe-area-inset-right: 0px;
  --safe-area-inset-left: 0px;

  @supports (top: constant(safe-area-inset-top)) {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-left: constant(safe-area-inset-left);
  }

  @supports (top: env(safe-area-inset-top)) {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent: rgb(84, 0, 215);
    --background: rgb(255, 255, 255);
    --primary-foreground: rgba(0, 0, 0, 0.87);
    --secondary-foreground: rgba(0, 0, 0, 0.6);

    --window: url("../ss-light.jpg");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: rgb(181, 134, 255);
    --background: rgb(32, 32, 32);
    --primary-foreground: rgba(255, 255, 255, 0.87);
    --secondary-foreground: rgba(255, 255, 255, 0.6);

    --window: url("../ss-dark.jpg");
  }
}

html {
  background-color: rgb(255, 255, 255);
  background-color: var(--background);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: rgba(0, 0, 0, 0.87);
  color: var(--primary-foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14pt;
  line-height: 20pt;
  margin: 0;
}

main,
footer,
[centeralign] {
  margin-left: auto;
  margin-right: auto;
}

[middlealign] {
  margin-top: auto;
  margin-bottom: auto;
}

[rightalign] {
  margin-left: auto;
  margin-right: 0;
}

[text-centeralign] {
  text-align: center;
}

main,
footer {
  max-width: 1200px;
  padding-left: 64px;
  padding-left: max(64px, var(--safe-area-inset-left));
  padding-right: 64px;
  padding-right: max(64px, var(--safe-area-inset-right));
}

main {
  display: block;
  padding-top: 64px;
  padding-top: max(64px, var(--safe-area-inset-top));
}

footer {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24pt;
  line-height: 30pt;
}

h2 {
  font-size: 20pt;
  line-height: 22.5pt;
}

h3 {
  font-size: 15pt;
}

p,
ul {
  margin: 8px 0 16px 0;
}

a:link {
  color: rgb(84, 0, 215);
  color: var(--accent);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.secondary {
  color: rgba(0, 0, 0, 0.6);
  color: var(--secondary-foreground);
  font-size: 9pt;
}

hr {
  border-width: 1px 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-top: 1px solid var(--secondary-foreground);
}

img[cover] {
  max-width: 100%;
}


@media screen and (max-width: 880px) {
  [text-leftalign][bp-880] {
    text-align: center;
  }

  [leftalign][bp-880],
  [rightalign][bp-880] {
    margin-left: auto;
    margin-right: auto;
  }
}